<div class='row'>
	<div class='col-xs-9'>
		<h1>To create a log</h1>

		<p>To create a log please find the location that you want your log to be at in the directory.  If you can't find the location you want you can create a new location.</p>
		<br>
		<%= link_to "Directory", directory_path, class: 'btn btn-lg btn-default tralobo-btn' %>
	</div>
</div>