<div class='row'>
	<div class='col-xs-9'>
		
		<div class='title-tab'>
		
			<h1 class='heading'>To create a log</h1>

		</div>

		<br>

		<p>To create a log please find the location that you want your log to be at in the directory or on the log map.  If you can't find the location you want you can create a new location.</p>
		
		<br>
		
		<%= link_to "Directory", directory_path, class: 'btn btn-lg btn-default tralobo-btn under-link full-button' %>
		<br><br>
		<%= link_to "LogMap", log_map_path, class: 'btn btn-lg btn-default tralobo-btn under-link full-button' %>
	<br>
	</div>
</div>