<% provide( :title, "Help") %>

<div class="row">
	
	<div class="col-xs-10">
	
		<h1 class="heading">Help</h1>

		<p>As of yet we do not have the infrastucture to provide support.  We do, however, hope to be able to begin providing support in the near future.</p>
	
	</div>

</div>
