<div class='row'>
	
	<div class='col-xs-11 main-panel transp'>
	
		<div id='map-canvas' class='full-map'>

			
	
		</div>
	<br>
	</div>

</div>


<script>

	var mapFull;
	
	var mapOptions = {
	   center: new google.maps.LatLng(45.00,0.00),
	   zoom: 3,
	   mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var ready = function() {
	  mapFull = new google.maps.Map(document.getElementById("map-canvas"),
	            mapOptions);
	  setMarkers(mapFull);
	};

									
	                $(document).ready(ready); 

	                $(document).on('page:load',ready);
	                



	function setMarkers(mapFull) { 

		var locationArray = [];


		<% location_list = Location.all %>
	
		<% location_list.each do |a| %>
			var innerArray = ["<%= a.city %>", <%= coordinate_split_first(a.coordinate) %>, <%= coordinate_split_last(a.coordinate) %>, "locations/<%= a.id %>"];
			locationArray.push(innerArray);
		<% end %>


		for (var i = 0; i < locationArray.length; i++) {
			var location_m = locationArray[i]
	
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(location_m[1],location_m[2]),
				title: location_m[0],
				map: mapFull,
				url: location_m[3]
			});
	
			google.maps.event.addListener(marker, 'click', function() {
	    window.location.href = this.url;
			});
		}
	}

</script>