<div class='row'>
	<div class='col-xs-11 main-panel'>
		<div id='map-canvas' class='full-map'>


		</div>
	</div>
</div>


<script>
	var mapOptions = {
   center: new google.maps.LatLng(45.00,0.00),
   zoom: 3,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  };
$.getScript('/assets/maps',function(){
								
                $(document).ready(ready); 

                $(document).on('page:load',ready);
       
google.maps.event.addDomListener(window, "resize", function() {
 var center = map.getCenter();
 google.maps.event.trigger(map, "resize");
 map.setCenter(center); 
});
setMarkers(map);

function setMarkers(map) { 

	var locationArray = [];


	<% location_list = Location.all %>
	<% location_list.each do |a| %>
		var innerArray = ["<%= a.city %>", <%= coordinate_split_first(a.coordinate) %>, <%= coordinate_split_last(a.coordinate) %>, "locations/<%= a.id %>"];
		locationArray.push(innerArray);
	<% end %>


	for (var i = 0; i < locationArray.length; i++) {
		var location_m = locationArray[i]
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(location_m[1],location_m[2]),
			title: location_m[0],
			map: map,
			url: location_m[3]
		});
		google.maps.event.addListener(marker, 'click', function() {
    window.location.href = this.url;
});
	}
}
});

</script>