<h1>Password Reset</h1>

<p>Hello <%= @user.username %></p>
<br>
<p>Please find below a link to reset the password on your account.</p>

<%= link_to "Reset password", "https://www.tralobo.com/password_reset/#{@user.reset_token}/edit?email=#{@user.email}"
                                                      %>
<p>This link will be available for use for two hours.  If you did request a password change,please ignore this email.</p>
