<h1>Password Reset</h1>

<p>Hello <%= @user.username %></p>
<br>
<p>Please find below a link to reset the password on your account.</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>This link will be available for use for two hours.  If you did request a password change,please ignore this email.</p>
