<%= provide(:title, @user.username)%>

<div class='row'>
	<div class='col-xs-9 main-panel'>
		<h1 class='heading'>Your Logs</h1>
		<ul class='nav nav-tabs'>
			<li class='active'><a href='#' class='gold-link'>Latest</a></li>
			<li><a href='#' class='gold-link'>Most Popular</a></li>
		</ul>
	</div>
	<div class='col-xs-3 side-panel side-panel-right'>
		<h3><%= @user.username %></h3>
		<h5 class='heading'>Log-Points:</h5><br>

		<p>No new notifications</p>
		<% if @user.admin? %>
		<p> You are an admin user </p>
		<% end %>
		<% if current_user.admin? && !current_user?(@user) %>
		<div class='well'>
		<h4>Admin controls</h4>
		<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: "Are you sure?" } %> 
	</div>
		<% end %>

	</div>
</div>