@import "bootstrap-sprockets";
@import "bootstrap";

/* variables mixins */
$light-blue: #3c46d6;
$dark-blue: #051659;

$goldy: #7A5200;
$light-grey: #E7E7E7;
$dark-grey: #202020;
$nav: #2c2c2c;

$logo-font: 'Poiret One', cursive;

@mixin box_sizing {
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;

}

/* header */


.logo{ 
float: right;
margin-top: 5px;
font-size: 30px;
font-weight: bold;
font-family: $logo-font;
color: $goldy;
text-transform: lowercase;
	&:hover {
	text-decoration: none;
	color: $goldy;
	}
}

/* layout */
/* precompile */

body{
  background: url(oldparis.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-panel{
  background-color: white;
}

.location-heading{
  text-transform: capitalize !important;
}
.row{
  
}

.white{
  white-space: pre-wrap;
}

.hot-logs{
  list-style: none;
  margin-left: none;
}

.log-item{
  margin-botton: 20px;
  margin-left: none;
}

.title-tab{
  border-bottom: $light-grey solid 1px;
  padding-bottom: 10px;
}

.row{
    overflow: hidden; 
}


.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-link{
	color: $goldy !important;
}

.tralobo-btn{
	font-family: $logo-font;
  font-weight: bold !important;
	color: $goldy !important;
	width: none !important;
  text-transform: lowercase;
}

.form-btn{
	width: 200px !important;
}

.container{
	color: $dark-grey;
}

.top-margin{
	margin-top: 50px;
}

.main-panel{
	border-left: $light-grey solid 1px;
	border-right: $light-grey solid 1px;
}

.nav{
	font-family: $logo-font;
	color: $goldy;
  text-transform: lowercase;
}

.goldy{
  color: $goldy !important;
}

.gold-link{
  color: $goldy !important;
  font-weight: bold;
  &:hover{
    color: $dark-grey !important;
  }
}

.under-link{
  color: #33333D !important;
  &:hover{ 
    color: $dark-grey !important;
  }
}

/* log map */

.transp{
  background-color: transparent !important;
  border: none !important;
}

.full-map{
  width: 800px;
  height: 600px;
  margin: none;
  padding: none;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
}

/* homepage */

.full-button{
  width: 100% !important;
}

.small-map{
  width: 100%;
  height: 200px;
  border: $light-grey solid 1px;
  margin-bottom: 10px;
}
#map-canvas{
}

.background{
	margin-right:none;
	margin-left: none;
	margin-bottom: 20px;
	width: 650px;
}

.large-title{
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	
  font-family: $logo-font !important;
  }

.under-title{
	font-size: 25px;
	text-align: center;
  color: #7A5200 !important;
  font-family: $logo-font !important;
  text-transform: lowercase;
}

.heading{
	color: $goldy;
	font-family: $logo-font;
  text-transform: lowercase;
}

.side-panel{
	background-color: #F8F8F8;
	border: solid 1px;
	border-color: #E7E7E7;
}

.side-panel-left{
	border-right: none;
}

.side-panel-right{
	border-left: none;
}

/*footer*/

footer {

  margin-top: 45px;
  padding-top: 5px;
  
  color: #777;
}

footer a {
  color: #555;
  background-color: white;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  background-color: white;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

a.gold-link{
	color: $goldy;
}

#wiki{
  width: 40px;
  height: 40px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*directory*/

.directory-list{
  list-style: none important;
  padding: 5px;

}

.list-group{
  list-style: none !important;
}

/* logs */

.logs{
	list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $light-grey;
  }
  }

  #city{
  float: right;
  }

  #create-log-button{
  margin-bottom: 10px;
  }

  .float-right{
  float: right;
  }
  /* comments */

  .comments{

  list-style: none;

  }

  .censored{
  color: red;
  font-weight: bold;
  }

  .link-button{

    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    float: left;
    color: blue;
  }

  /* score */

  .green-score{
    color: #004B00 !important;
  }

  .red-score{
    color: #7A0000 !important;
  }