<li id="log-<%= log.id %>">
  <h3><%= link_to log.title, '#', class: 'heading' %></h3>
  <% if !log.location.nil? %>
  <p id='city'><%= log.location.city %></p>
  <%end%>
  <small class="timestamp">
    Posted <%= time_ago_in_words(log.created_at) %> ago.
  </small>
</li>