<% Log.where(location: @location).reorder('cached_votes_score DESC').first(30).each do |log| %>


  <li>
      <div class='float-right'>
    <% @log = log %>
    <%= render 'logs/score' %>
  </div>
    <h3><%= link_to log.title, log%></h3>
      
        <p id='city'><%= log.user.username %></p>
      

    <small class="timestamp">
      Posted <%= time_ago_in_words(log.created_at) %> ago.
    </small>

  </li>

<% end %>