
<footer>
	<small> &#169<span id="year"></span> tralobo.com </small>
	<script type="text/javascript">
var d = new Date();
$("#year").html(d.getFullYear());
</script>
<nav>
	<ul>
		<li><%= link_to "Contact", '#' %> </li>
		<li><%= link_to "Support", '#' %> </li>
	</ul>
</nav>
</footer>