<header class="navbar navbar-fixed-top navbar-default">
	<div class='container'>
	<%= link_to "Tralobo", root_path, class: "logo" %>
	<nav>
		<ul class="nav navbar-nav navbar-left">

			<li><%= link_to "Home", root_path, class: 'navlink' %></li>
			<li><%= link_to "Directory", '#', class: 'navlink' %></li>
	
			<li><div class="fb-share-button" data-href="https://www.thecapitalcitiesquiz.com/" data-layout="button"></div></li>
		</ul>
	</nav>
</div>
</header>