<h3 class='heading'>Today's Hot Logs</h3>

<ol class='hot-logs logs'>

<% if !hot_logs.empty? %>	

<% hot_logs.each do |log| %>
	<li> 
		<div class='float-right'>
			<% @log = log %>
			<%=render 'logs/score'%>
		</div>
		<% if !log.location.nil? %>
			<h5 class='under-link log-item truncate'><%= log.location.city %>:<br> <%= link_to log.title, log %> </h5></li>
		<% end %>
<% end %>

<% else %>

<p>No Logs Today</p>

<% end %>

</ol>
<br>	
<h3 class='heading'>blank slate</h3>

<p>Tralobo is a blank slate, a place for you to give spatiality to your thoughts. In conjuncture with this the website is designed encourage freedom in posting Logs, there's no right way to tell your story or speak your mind.</p>

