<h5 class='heading'>Today's Hot Logs</h5>

<ol class='hot-logs logs'>

<% if !hot_logs.nil? %>	

<% hot_logs.each do |log| %>
	<li> 
		<div class='float-right'>
			<% @log = log %>
			<%=render 'logs/score'%>
		</div>
		<% if !log.location.nil? %>
			<h5 class='under-link log-item truncate'><%= log.location.city %>:<br> <%= link_to log.title, log %> </h5></li>
		<% end %>
<% end %>

<% else %>

<p>No Logs Today</p>

<% end %>

</ol>


